body {
    background: #F8BBD0
}
#banner {

          width: 27%;
}

.principal {
  background: #F48FB1;
}
h1 {
    text-align: center;
    border: 5px solid rgb(67, 130, 247);
    padding: 15px;
}

p {
      text-align: center;
}

#missao {
    font-size:18px;

}#BA68C8
em strong {
    color: ;
}
     
.itens {
    font-style: italic;
}

.beneficios {
    background: #CE93D8;
}